.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project
/bin/
/Libs/
/.settings/
/.classpath
.svn/
Reports/*
.project
settings/*
settings/internal/*
settings/external/*
/bin/
/Libs/
/.settings/
.classpath
.cache
/.svn/
Reports/
settings*